/* Basics */
html { background-color: #f6f6f6; }

body {
	background-color: white;
	margin: 2em auto;
	width: 90%;
	max-width: 900px;	
	font-size: 90%;
	border-radius: 5px;
}

header {
	background-color: #39bccd;
	padding: 1em;
	border-radius: 5px 5px 0 0;
}

header h1 { 
	color: white;
	text-align: center;
}

main { 
	background-color: white;
	border: 1px solid #eee;
	border-top: none;
	padding: 0 1em;
}

main:after {
	content: "";
	display: table;
	clear: both;
}

section {
    float: left;
    width: 50%;
}

footer {
	color: #39bccd;
	padding: 1em;
	text-align: center;
	border-radius: 0 0 5px 5px;
	font-size: 90%;
	border: 1px solid #eee;
	border-top: none;
}
footer p { margin: 0; }

span {
	padding-left: 0.3em;
	color: red;
}

/* Navigation */
#main-menu ul {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
}
#main-menu ul li { 
	float: left;
	width: 20%;
}
#main-menu ul li a {
	display: block;
	text-align: center;
	width: 100%;
	text-decoration: none;
	background-color: #222;
	color: white;
	padding: 1em 0;
	font-weight: normal;
}

#main-menu ul li a:hover { background-color: #D8E18A; color: black; }

#main-menu > ul::after {
	content: "";
	display: block;
	clear: both;
}
#main-menu .current {
	color: #D8E18A;
}

/* Form */
label { 
	display: block; 
	margin-bottom: 0.2em;
}

.radio-group {
	list-style: none;
	padding: 0;
	margin: 0;
}

.radio-group li { padding: 0.2em; }

.radio-group li label { 
	display: inline-block; 
	width: 8em;
}

#convert_value {
	width: 9em;
	padding: 0.2em;
}

textarea { 
	width: 95%; 
	max-width: 340px;
}

fieldset { 
	padding: 1.5em 2em 2em; 
	margin: 2em 1em; 
	border-color: #ddd; 
	border-radius: 5px;
}

legend { 
	font-weight: bold; 
	color: #39bccd; 
	font-size: 110%; 
	padding: 0 0.2em;
}

#message {
	font-weight: bold;
	color: red;
	margin: 1em 0;
}

button {
	background-color: #39bccd;
	color: white;
	border-radius: 5px;
	border: none;
	width: 10em;
	padding: 0.7em 0;
	margin-top: 1em;
	display: inline-block;
}

@media only screen and (max-width: 767px){
	body { margin: 0; width: 100%; }
	section { width: 100%; float: none; }
	main { padding-top: 1em; }
	fieldset { min-height: 0; }
}